<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="students/students.css">
    <title>Express Students</title>
</head>
<body>
   
    <h1>Attendance</h1>
    <ul>
        <% students.forEach(function(t) { %>
          <li>
            <%- t.student %>
              - 
            <%- t.present ? 'present' : 'not present' %>
          </li>
        <% }); %>
      </ul>
      
    
</body>
</html>