body {
    background: #eee
}
 ul {
    margin-bottom: 12px
}

 ul {
    list-style: none;
    padding: 10px;
    border: 1px solid #e3dada;
    margin-top: 12px;
    border-radius: 5px;
    background: #fff
}